<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/stomp.min.js"></script>
    <script src="/js/lib/sockjs.min.js"></script>
</head>
<body>
	<div id="app">
		<form>
			<!-- 메세지 표시영역 -->
			<textarea id="messageBox" readonly="readonly" rows="10" cols="45"></textarea><br>
			<!-- 텍스트입력창 -->
			<input type="text" id="messageInput" size="50" />
			<!-- 송신버튼 -->
			<input type="button" value="전송" onclick="sendMessage()" />
		</form>
	</div>
</body>




<script type="text/javascript">

	function connect() {
	  var socket = new SockJS('/websocket');
	  var client = Stomp.over(socket);		//SockJS와 client 연결
	  
	  client.connect({}, function () {	//connection시 실행
	  
	    client.subscribe('/topic/chat', function (chat) {
	      var content = JSON.parse(chat.body);
	    });
	  });
	}

</script>


</html>