<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	.card {
		width : 60px;
		height : 80px;
		margin : 20px;
    display : inline-block;
    text-align : center;
	}
  .card.odd { background : red; }
  .card.even { background : skyblue; }
</style>
</head>

<body>
	<div id="header"></div>

	<form id="cardUI"></form>
	<form id="selectForm" style="visibility:hidden;">
		<input id="cardNum" type="text" readonly>선택한 카드</input>
		<button id="selectBtn" type="button">선택</button>
	</form>
	<h1 id="infoText" style="visibility:hidden;">상대의 선택을 기다리는 중..</h1>
	
	<div id=roundResult style="visibility:hidden;">Round <span>win!</span></div>
</body>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/app/game.js"></script>
</html>
